body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

header {
    background-color: #070F2B;
    color: white;
    padding: 20px;
    text-align: center;
}

details h1 {
    margin: 0;
    padding: 10px;
    background-color: #1E3A8A;
    
    color: white;
}